In [18]:
import pandas as pd
from sqlalchemy import create_engine, types
from sqlalchemy import text 
from dotenv import dotenv_values

In [19]:
config = dotenv_values()

pg_user = config['POSTGRES_USER'] 
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}'

In [20]:
engine = create_engine(url, echo=False)

In [21]:
with engine.begin() as conn: 
    result = conn.execute(text(f'SET search_path TO {pg_schema};'))

In [16]:
flights = pd.read_sql(sql=text("SELECT * FROM debby_prep_flights;"), con=engine)

In [ ]:
flights.head(3)

  flight_date  total_flights  total_cancelled  avg_dep_delay  avg_arr_delay
0  2024-07-01           1930               43          21.46          13.07
1  2024-07-02           1907                6          14.85           4.30
2  2024-07-03           1922                2           8.94          -1.75

In [8]:
weather = pd.read_sql(sql=text("SELECT * FROM debby_prep_weather_daily;"), con=engine)

In [9]:
weather.head(3)

,airport_code,station_id,date,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,max_snow_mm,avg_wind_direction,avg_wind_speed_kmh,wind_peakgust_kmh,avg_pressure_hpa,sun_minutes,date_day
0,MCO,72205,2024-07-01,27.6,23.3,33.3,0.0,0,174,10.1,None,1015.5,None,1.0
1,TPA,72211,2024-07-01,27.7,25.0,32.2,0.0,0,193,11.9,None,1015.6,None,1.0
2,JFK,74486,2024-07-01,23.3,17.8,27.8,0.0,0,352,24.8,None,1016.2,None,1.0

In [10]:
weather_TPA = weather.query('airport_code == "TPA"')
weather_TPA.head(3)

,airport_code,station_id,date,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,max_snow_mm,avg_wind_direction,avg_wind_speed_kmh,wind_peakgust_kmh,avg_pressure_hpa,sun_minutes,date_day
1,TPA,72211,2024-07-01,27.7,25.0,32.2,0.0,0,193,11.9,None,1015.6,None,1.0
4,TPA,72211,2024-07-02,29.4,26.7,33.3,0.0,0,145,9.4,None,1016.7,None,2.0
6,TPA,72211,2024-07-03,29.7,25.0,34.4,6.9,0,76,8.3,None,1017.9,None,3.0

In [11]:
weather_JFK = weather.query('airport_code == "JFK"')
weather_MCO = weather.query('airport_code == "MCO"')

In [12]:
weather_JFK.describe()

,station_id,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,max_snow_mm,avg_wind_direction,avg_wind_speed_kmh,avg_pressure_hpa,date_day
count,62.0,62.000000,62.000000,62.000000,62.000000,62.0,62.000000,62.000000,62.000000,62.000000
mean,74486.0,24.611290,20.983871,28.874194,2.670968,0.0,194.516129,15.869355,1016.209677,16.000000
std,0.0,1.894003,2.356936,2.335958,6.184019,0.0,80.396098,4.269049,4.175169,9.017288
min,74486.0,19.400000,14.400000,22.800000,0.000000,0.0,3.000000,9.400000,1005.700000,1.000000
25%,74486.0,23.600000,19.550000,27.800000,0.000000,0.0,156.750000,13.000000,1013.375000,8.250000
50%,74486.0,24.800000,21.700000,28.900000,0.000000,0.0,194.000000,15.100000,1016.150000,16.000000
75%,74486.0,25.700000,22.200000,30.450000,1.300000,0.0,235.250000,16.900000,1019.075000,23.750000
max,74486.0,28.400000,25.600000,35.000000,32.500000,0.0,352.000000,31.700000,1024.900000,31.000000

In [ ]:
flights_MCO = pd.read_sql(sql=text("SELECT * FROM flights_MCO;"), con=engine)
flights_JFK = pd.read_sql(sql=text("SELECT * FROM flights_JFK;"), con=engine)
flights_TPA = pd.read_sql(sql=text("SELECT * FROM flights_TPA;"), con=engine)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "flights_mco" does not exist
LINE 1: SELECT * FROM flights_MCO;
                      ^

[SQL: SELECT * FROM flights_MCO;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [16]:
import plotly.express as px